li {
	display: inline;
	margin: 0 5 0 5;
}

img {
	width: 200px;
	height: 200px;
}

.search{
	float: right;
	margin: 2 5 2 5;

}

.searchbutton {
	float: right;
	margin: 2 5 2 5;
	background-color: lightblue;
}

.flex-container {
	display: flex;
	height: 500px;
	width: 100%;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex: auto;
}

.add {
	background-color: yellow;
}

.buy {
	background-color: orange;
}

.flex-item {
	margin: 3 3 3 3;
}