.container {
	width: 100%;
	display:  flex;
	flex-wrap: wrap;
	justify-content: center;
}
body {
	width: 1250px;
}


li {
	display: inline;
	margin: 0 5 0 5;
}

img {
	width: 200px;
	height: 200px;
}

.search{
	float: right;
	margin: 2 5 2 5;

}

.searchbutton {
	float: right;
	margin: 2 5 2 5;
	background-color: lightblue;
}


.add {
	background-color: yellow;
}

.buy {
	background-color: orange;
}

.flex-item {
	margin: 3 3 3 3;


